<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="base/template :: header">
    <title>Getting Started: Serving Web Content</title>
</head>
<body class="ang">
<div class="gb ut">
    <div class="uv">
        <form class="alq dj j" role="form">
            <a class="l amb" href="/index.html">
                <img alt="brand" src="/img/brand.png">
            </a>
            <div class="et">
                <input class="form-control" placeholder="Username"/>
            </div>
            <div class="et alu">
                <input class="form-control" type="password" placeholder="Password"/>
            </div>
            <div class="amb">
                <button class="cg fp">Log In</button>
                <button class="cg fm">Sign up</button>
            </div>
            <footer class="apd">
                <a class="dp" href="#">Forgot password</a>
            </footer>
        </form>
    </div>
</div>
</body>

</html>
